.is-hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

.cat-info {
    display: flex;
    margin-top: 20px;
}

.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}